body {
  font-family: 'Futura XBlkCnIt BT', sans-serif;
  background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
  background-size: 4px 4px;
  user-select: none;
}

.text-bg{
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px #fafafa;
}

i:hover{
  cursor: pointer;
}