@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color: #2563eb;
  --secondary-color: #18181b;
  --accent-color: #fafafa;
}

.body {
  font-family: 'Futura XBlkCnIt BT', sans-serif;
  background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 1px, transparent 1px, transparent 6px);
  background-size: 4px 4px;
  user-select: none;
  @apply min-h-screen bg-zinc-900;
}

.wrapper {
  @apply p-5 flex justify-center flex-wrap;
}

.profile-intro {
  @apply p-2 mb-5 text-blue-600;
}

.profile-intro-desc{
  @apply flex flex-col items-center mb-3 md:mb-5 relative w-[280px] md:w-[400px];
}


.profile-job-out{
  @apply text-3xl -skew-y-6 md:text-[2.5rem] text-center absolute h-[255px] md:h-[380px] overflow-hidden;
}

.profile-pic-container{
 @apply bg-blue-600 w-[280px] md:w-[400px] rounded-full relative overflow-hidden; 
}

.profile-job-in{
  @apply text-3xl -skew-y-6 md:text-[2.5rem] w-[280px] md:w-[400px] text-center absolute z-10;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px #fafafa;
}

.profile-pic{
  @apply z-50 relative w-full;
}

.profile-name {
  @apply text-2xl md:text-4xl text-center z-20 relative text-zinc-100 bg-blue-600
  p-2 duration-200;
}

.profile-social{
  @apply flex justify-evenly text-4xl md:text-5xl;
}

i {
  @apply hover:text-zinc-100 duration-200 hover:cursor-pointer;
}

.profile-desc {
  @apply flex flex-col items-center text-zinc-100;
}



