@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2563eb;
  --secondary-color: #18181b;
  --accent-color: #f4f4f5;
}

.body {
  font-family: 'Futura XBlkCnIt BT', sans-serif;
  background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 1px, transparent 1px, transparent 6px);
  background-size: 4px 4px;
  user-select: none;
  @apply min-h-screen bg-zinc-900 flex justify-center items-center py-16 overflow-x-hidden;
}

.wrapper {
  @apply flex justify-center flex-wrap;
}

.profile-intro {
  @apply p-2 mb-3 text-blue-600;
}

.profile-intro-desc {
  @apply flex flex-col items-center mb-3 md:mb-5 relative w-[280px] md:w-[400px];
}

.profile-job-out {
  @apply text-3xl -skew-y-6 md:text-[2.5rem] text-center absolute h-[255px] md:h-[380px] overflow-hidden;
}

.profile-pic-container {
  @apply bg-blue-600 w-[280px] md:w-[400px] rounded-full relative overflow-hidden;
}

.profile-job-in {
  @apply text-3xl -skew-y-6 md:text-[2.5rem] w-[280px] md:w-[400px] text-center absolute z-10;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px #f4f4f5;
}

.profile-pic {
  @apply z-50 relative w-full;
}

.profile-name {
  @apply text-2xl md:text-4xl text-center z-20 relative text-zinc-100 bg-blue-600 -skew-y-6;
}

.profile-social {
  @apply flex justify-evenly text-4xl md:text-5xl -skew-y-6;
}

i {
  @apply hover:text-zinc-100 duration-200 hover:cursor-pointer;
}

.profile-desc-wrapper {
  @apply text-zinc-100 -skew-y-6;
}

.profile-desc-header {
  @apply text-2xl md:text-4xl text-center text-zinc-100 bg-blue-600 hover:cursor-pointer duration-200 active:bg-blue-500;
}

.profile-desc {
  @apply border-y-2 flex flex-row-reverse flex-wrap justify-between py-2;
}

.desc-item {
  @apply bg-blue-600 m-1 p-1 py-2 text-2xl -skew-y-3 md:text-3xl hover:scale-110 hover:cursor-pointer duration-200 active:bg-blue-500 relative;
  font-family: 'Futura XBlkCn BT', sans-serif;
  -webkit-text-stroke: .5px #18181b;
  writing-mode: vertical-lr;
  text-orientation: upright; 
  letter-spacing: -8px;
}

@keyframes show-desc-5 {
  100% {
    transform: translate(0%);
  }
}

@keyframes show-desc-4 {
  100% {
    transform: translate(-120%);
  }
}

@keyframes show-desc-3 {
  100% {
    transform: translate(-235%);
  }
}

@keyframes show-desc-2 {
  100% {
    transform: translate(-350%);
  }
}

@keyframes show-desc-1 {
  100% {
    transform: translate(-465%);
  }
}

@keyframes show-desc-0 {
  100% {
    transform: translate(-580%);
  }
}

.active {
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-delay: 200ms;
}

.item-5 {
  animation-name: show-desc-5;
}

.item-4 {
  animation-name: show-desc-4;
}

.item-3 {
  animation-name: show-desc-3;
}

.item-2 {
  animation-name: show-desc-2;
}

.item-1 {
  animation-name: show-desc-1;
}

.item-0 {
  animation-name: show-desc-0;
}

@keyframes disable-desc {
  from {
    visibility: visible;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}

.disable {
  animation-name: disable-desc;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

.desc-item .content{
  display: none;
  position: absolute;
  letter-spacing: normal;
}

@keyframes content-anim {
  100%{
    opacity: 1;
  }
}

.desc-item.active .content{
  display: block;
  opacity: 0;
  writing-mode: horizontal-tb;
  text-orientation: mixed;
  width: 230px;

  background-color: var(--accent-color);
  color: var(--secondary-color);
  @apply ml-2 text-base p-2;
  top: 0;

  font-family: 'Futura Lt BT', sans-serif;

  animation-name: content-anim;
  animation-duration: .5s;
  animation-delay: .8s;
  animation-fill-mode: forwards;
}

.content-item{
  @apply mb-3;
}

.content .content-title{
  font-weight: 900;
}

.content .content-date{
  @apply text-sm italic text-zinc-100;
}

.content .content-info{
  @apply text-sm;
}

